body{
    margin:0;
    overflow:hidden;
    background:black;
    font-family:Orbitron;
}

#game{
    width:100vw;
    height:100vh;
    position:relative;
    overflow:hidden;
}

canvas{
    position:absolute;
    inset:0;
}

#score{
    position:absolute;
    top:30px;
    width:100%;
    text-align:center;
    font-size:42px;
    color:#00ffff;
    text-shadow:0 0 25px #00ffff;
    z-index:5;
}

#player{
    position:absolute;
    bottom:120px;
    width:90px;
    left:50%;
    transform:translateX(-50%);
    z-index:10;
    transition:left .15s cubic-bezier(.2,.8,.3,1.5);
}

#player img{
    width:100%;
    filter:drop-shadow(0 0 25px #ff4500);
}

#menu{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.9);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    backdrop-filter:blur(10px);
    z-index:20;
}

#menu.active{display:flex}
#menu:not(.active){display:none}

.logo{
    width:260px;
    margin-bottom:30px;
}

button{
    padding:18px 60px;
    border:none;
    border-radius:50px;
    font-size:22px;
    background:linear-gradient(45deg,#ff4500,#ffaa00);
    color:white;
    cursor:pointer;
    box-shadow:0 0 40px #ff4500;
}
